* {
  margin: 0px;
  padding: 0px;
  color: #eee;
  font-family: Inter, Helvetica, sans-serif;
}

@media screen and (min-width: 600px) {
  
  /* HTML tags */
  body {
    background-color: #1a1a20;
    background-image: url(images/UI_Loading_BlueDisc_Lg.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: initial;
    overflow: auto;
  }

  h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0.67em 0;
  }

  h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.75em 0;
  }

  h3 {
    font-size: 1.17em;
    font-weight: bold;
    margin: 0.83em 0;
  }

  h4 {
    font-size: 1em;
    font-weight: bold;
    margin: 1.12em 0;
  }

  h5 {
    font-size: 0.83em;
    font-weight: bold;
    margin: 1.5em 0;
  }

  h6 {
    font-size: 0.75em;
    font-weight: bold;
    margin: 1.67em 0;
  }

  .subtitle {
    opacity: 75%;
  }

  a {
    color: #eee;
    padding: 14px 16px;
    font-size: 16px;
  }

  p {
    color: #eee;
    font-size: 16px;
  }

  .button {
    background-color: #1f1f2a;
    border: none;
    border-radius: 8px;
    color: #eee;
    padding: 12px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  }

  .button:hover {
    background-color: #2a2a3d;
    border: none;
    border-radius: 8px;
    color: #eee;
    padding: 12px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .buttonInline {
    background-color: #1f1f2a;
    border: none;
    border-radius: 8px;
    color: #eee;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  }

  .buttonInline:hover {
    background-color: #2a2a3d;
    border: none;
    border-radius: 8px;
    color: #eee;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .buttonYT {
    background-color: #ff0000;
    border: none;
    border-radius: 8px;
    color: #eee;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  }

  .buttonYT:hover {
    background-color: #ff3333;
    border: none;
    border-radius: 8px;
    color: #eee;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .buttonTwitch {
    background-color: #8000ff;
    border: none;
    border-radius: 8px;
    color: #eee;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  }

  .buttonTwitch:hover {
    background-color: #9933ff;
    border: none;
    border-radius: 8px;
    color: #eee;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  /* Topnav Elements */
  .topnav {
    position: sticky;
    top: 0;
    background-color: #17171f;
    overflow: hidden;
  }

  .topnav a {
    float: left;
    display: block;
    color: #eee;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    transition: 0.4s;
  }

  .topnav a:hover {
    background-color: #2a2a3d;
    color: #eee;
  }

  .topnav a.selected {
    background-color: #1f1f2a;
  }

  /* Flexbox Containers */
  .container {
    display: flex;
    flex-direction: column;
    width: 100lvw;
    justify-content: top;
    align-items: center;
  }

  .heroContainer {
    display: flex;
    flex-direction: column;
    width: 100lvw;
    justify-content: top;
    align-items: center;
    padding: 64px 120px;
  }

  .pageTitle {
    display: flex;
    flex-direction: row;
    width: 100lvw;
    justify-content: center;
    align-items: center;
  }

  .section {
    display: flex;
    flex-direction: column;
    width: 100lvw;
    background-color: #17171f;
    justify-content: top;
    align-items: center;
  }

  .heroVideoSection {
    display: flex;
    flex-direction: column;
    width: 100lvw;
    justify-content: top;
    align-items: center;
    padding: 0px 0px 40px;
  }

  .sectionHeader {
    display: flex;
    flex-direction: column;
    padding: 12px 18px;
    width: 90lvw;
    align-items: left;
  }

  /* Components */
  .scroll-container {
    background-color: #17171f;
    overflow: auto;
    white-space: nowrap;
    width: 90lvw;
    scrollbar-color: #17171f;
  }

  .scroll-container iframe {
    border: hidden;
    border-radius: 10px;
    z-index: 1;
    margin: 0px 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  }

  .heroVideo {
    width: 90lvw;
    height: 50.625lvw;
    border: hidden;
    border-radius: 10px;
    overflow: hidden;
    z-index: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  }

  .wrapper {
    padding: 16px;
    width: 60lvw;
  }

  .clanWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80lvw;
  }

  .clanImg {
    width: 30%;
    height: 50%;
    margin: 8px;
  }

  .clanDetails {
    padding: 0 16px;
    width: 50%;
  }

  /* Style the buttons that are used to open and close the accordion panel */
  .accordion {
    background-color: #17171f;
    color: #eee;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #1f1f2a;
  }

  .accordion:after {
    content: "+"; 
    font-size: 24px;
    color: #eee;
    float: right;
    margin-left: 5px;
    text-align: center;
  }

  .active:after {
    content: "-";
  }

  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 16px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .panelText {
    padding: 16px 0px;
    font-size: 14px;
  }

  .listTitle {
    display: flex;
    padding: 8px 0px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    align-items: center;
  }

  .icon {
    margin: 8px;
  }

  .rowContainer {
    display: flex;
    flex-direction: row;
    margin: 16px 0px;
    width: 60lvw;
    justify-content: space-evenly;
  }

  .videoItemContainer {
    display: flex;
    flex-direction: column;
  }

  .listVideo {
    width: 480px;
    height: 270px;
  }
}

@media screen and (max-width: 600px) {
  /* HTML tags */
  body {
    background-color: #1a1a20;
    background-image: url(images/UI_Loading_BlueDisc_Lg.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: initial;
    overflow: auto;
  }

  h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0.67em 0;
  }

  h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.75em 0;
  }

  h3 {
    font-size: 1.17em;
    font-weight: bold;
    margin: 0.83em 0;
  }

  h4 {
    font-size: 1em;
    font-weight: bold;
    margin: 1.12em 0;
  }

  h5 {
    font-size: 0.83em;
    font-weight: bold;
    margin: 1.5em 0;
  }

  h6 {
    font-size: 0.75em;
    font-weight: bold;
    margin: 1.67em 0;
  }

  .subtitle {
    opacity: 75%;
  }

  a {
    color: #eee;
    padding: 14px 16px;
    font-size: 16px;
  }

  p {
    color: #eee;
    font-size: 16px;
  }

  .button {
    background-color: #1f1f2a;
    border: none;
    border-radius: 8px;
    color: #eee;
    padding: 12px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  }

  .button:hover {
    background-color: #2a2a3d;
    border: none;
    border-radius: 8px;
    color: #eee;
    padding: 12px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .buttonInline {
    background-color: #1f1f2a;
    border: none;
    border-radius: 8px;
    color: #eee;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  }

  .buttonInline:hover {
    background-color: #2a2a3d;
    border: none;
    border-radius: 8px;
    color: #eee;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .buttonYT {
    background-color: #ff0000;
    border: none;
    border-radius: 8px;
    color: #eee;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  }

  .buttonYT:hover {
    background-color: #ff3333;
    border: none;
    border-radius: 8px;
    color: #eee;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .buttonTwitch {
    background-color: #8000ff;
    border: none;
    border-radius: 8px;
    color: #eee;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  }

  .buttonTwitch:hover {
    background-color: #9933ff;
    border: none;
    border-radius: 8px;
    color: #eee;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  /* Topnav Elements */
  .topnav {
    position: sticky;
    top: 0;
    background-color: #17171f;
    overflow: hidden;
  }

  .topnav a {
    float: left;
    display: block;
    color: #eee;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    transition: 0.4s;
  }

  .topnav a:hover {
    background-color: #2a2a3d;
    color: #eee;
  }

  .topnav a.selected {
    background-color: #1f1f2a;
  }

  /* Flexbox Containers */
  .container {
    display: flex;
    flex-direction: column;
    width: 100lvw;
    justify-content: top;
    align-items: center;
  }

  .heroContainer {
    display: flex;
    flex-direction: column;
    width: 100lvw;
    justify-content: top;
    align-items: center;
    padding: 64px 120px;
  }

  .pageTitle {
    display: flex;
    flex-direction: row;
    width: 100lvw;
    justify-content: center;
    align-items: center;
  }

  .section {
    display: flex;
    flex-direction: column;
    width: 100lvw;
    background-color: #17171f;
    justify-content: top;
    align-items: center;
  }

  .heroVideoSection {
    display: flex;
    flex-direction: column;
    width: 100lvw;
    justify-content: top;
    align-items: center;
    padding: 0px 0px 40px;
  }

  .sectionHeader {
    display: flex;
    flex-direction: column;
    padding: 12px 18px;
    width: 90lvw;
    align-items: left;
  }

  /* Components */
  .scroll-container {
    background-color: #17171f;
    overflow: auto;
    white-space: nowrap;
    width: 90lvw;
  }

  .scroll-container iframe {
    border: hidden;
    border-radius: 10px;
    z-index: 1;
    margin: 0px 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  }

  .heroVideo {
    width: 90lvw;
    height: 50.625lvw;
    border: hidden;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  }

  .wrapper {
    padding: 16px;
    width: 60lvw;
  }

  .clanWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80lvw;
  }

  .clanImg {
    width: 30%;
    height: 50%;
    margin: 8px;
  }

  .clanDetails {
    padding: 0 16px;
    width: 50%;
  }

  /* Style the buttons that are used to open and close the accordion panel */
  .accordion {
    background-color: #17171f;
    color: #eee;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #1f1f2a;
  }

  .accordion:after {
    content: "+"; 
    font-size: 24px;
    color: #eee;
    float: right;
    margin-left: 5px;
    text-align: center;
  }

  .active:after {
    content: "-";
  }

  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 16px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .panelText {
    padding: 16px 0px;
    font-size: 14px;
  }

  .listTitle {
    display: flex;
    padding: 8px 0px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    align-items: center;
  }

  .icon {
    margin: 8px;
  }

  .rowContainer {
    display: flex;
    flex-direction: row;
    margin: 16px 0px;
    width: 60lvw;
    justify-content: space-evenly;
  }

  .videoItemContainer {
    display: flex;
    flex-direction: column;
  }

  .listVideo {
    width: 320px;
    height: 180px;
  }
}